# Python
__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info
.eggs/

# Virtual environments
.venv
.env

# Dotenv
*.env
!.env.example

# Data e modelos (ignore por extensão, preservando a estrutura)
data/**/*.csv
data/**/*.parquet
data/**/*.json
data/**/*.pkl
data/**/*.h5
data/**/*.zip
data/**/*.tar.gz
models/**/*.pt
models/**/*.pth
models/**/*.onnx
models/**/*.pkl
models/**/*.bin
*.dvc/tmp

# MLflow
mlruns/
mlartifacts/

# DVC
/tmp/
.dvc/tmp/
.dvc/cache/

# Docker
docker-compose.override.yml

# OS
.DS_Store
Thumbs.db

# IDE
.idea/
*.swp
*.swo

# Ignora o PDF da fase2, matenho ele no repo para rapida referencia com agentes de IA
Tech Challenge Fase 02.pdf

# AI tooling
.ai-jail
